/res
/高清PDF
/psd
/.idea
/hotel/*.sqlite3
/hotel/hotel/__pycache__
/~$章 - 毕业论文.docx
/front/hotel
/外文翻译.docx
/buildFront
static-front
/静态访问文件src/src/static/data/imgs
/2015213734-黄文章-基于HTML5的手机APP交互方式研究 - 以逸宿APP为例.docx
/毕设
/qr.png
/*.pptx
/答辩演示视频.mp4
/答辩演示视频.prproj
/答辩.doc
/Adobe Premiere Pro Preview Files