.pop-right-enter-active, .pop-right-leave-active, .pop-left-leave-active, .pop-left-leave-active {
  transition: left .4s, opacity .4s;
}
.pop-left-enter-active {
  left: -100%;
  opacity: 0;
}
.pop-left-leave-active {
  left: 0;
  opacity: 1;
}
.pop-left-leave-to {
  left: 100%;
  opacity: 0;
}
.pop-left-enter-to {
  left: 0;
  opacity: 1;
}
.pop-right-enter-active {
  left: 100%;
  opacity: 0;
}
.pop-right-leave-active {
  left: 0;
  opacity: 1;
}
.pop-right-leave-to {
  left: -100%;
  opacity: 0;
}
.pop-right-enter-to {
  left: 0;
  opacity: 1;
}
.pop-bottom-enter-active, .pop-bottom-leave-active {
  transition: top .4s, opacity .4s;
}
.pop-bottom-enter-active {
  top: 100vh;
  opacity: 0;
}
.pop-bottom-leave-active {
  top: 0;
  opacity: 1;
}
.pop-bottom-leave-to {
  top: 100vh;
  opacity: 0;
}
.pop-bottom-enter-to {
  top: 0;
  opacity: 1;
}
.collection-enter-active, .collection-leave-active {

}
.collection-enter-active {

}
.collection-leave-active {

}
.collection-enter-to {

}
.collection-leave-to {

}
.animated.fast-time {
  animation-duration: .4s;
}
.animated.delay-100ms {
  animation-duration: 100ms;
}
.animated.delay-200ms {
  animation-duration: 200ms;
}
.animated.delay-300ms {
  animation-duration: 300ms;
}
.animated.delay-400ms {
  animation-duration: 400ms;
}
.animated.delay-600ms {
  animation-duration: 600ms;
}
.animated.delay-800ms {
  animation-duration: 800ms;
}
.animated.delay-1200ms {
  animation-duration: 1200ms;
}
