.login-box {
  .input {
    padding: 0;
    input {
      border: none;
      border-bottom: 1px solid #E4ECE8;
      font-size: 1rem;
      color: #2E3130;
      padding-left: 0;
      font-weight: 600;
    }
    input:focus {
      box-shadow: none;
      border-radius: 0;
      border-bottom-color: #409EFF;
    }
    .red {
      box-shadow: none;
      border-radius: 0;
      border-bottom-color: #f56c6c;
    }
  }
  .password {
    input {
      font-size: 2rem;
      font-weight: 400;
    }
  }
  .primary {
    padding-top: 30px;
    float: right;
    button {
      background: #25A3A8;
      color: white;
      border: none;
      font-size: 1rem;
    }
    &:hover {
      button {
        color: white;
        background-color: #007479;
      }
    }
  }
}
